---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// -------------------------------------------- //

archive-list li:after,.archive-list-work li:after,.archive-list-work:after,.archive-list:after,.clearfix:after,.grid:after,.module:after,.page_header:after,.tag-list:after,article.services .skill-example ul:after,article.services section:after {
    content: "";
    display: table;
    clear: both
}

*,:after,:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.tag-list li,article.services .skill-example ul li {
    color: #fff;
    font-size: .9rem;
    display: inline-block;
    background-color: #694e04;
    padding: .2rem .4rem;
    margin: 0 .3rem .3rem 0
}

.tag-list a,article.services .skill-example ul a {
    color: #fff
}

.tag-list-secondary li,article.services .skill-example ul li {
    background-color: #e7b51e
}

.tag-list::before{
  content:attr(aria-label);
  font-weight:bold;
}

// copied from view-source:https://github.com/orgs/community/discussions/16925

.markdown-alert {
  margin-bottom: 16px;
  color: inherit;
  // modify to a secondary background color or comment out
  background-color: var(--bg-secondary);
  border-left: 0.3rem solid;
  border-radius: 0.3rem;
  padding:  0.5em;
}

.pInfo {
    margin-top:  -1.1em;
    margin-left: 0.75em;
}

.markdown-alert>:first-child {
  margin-top: 0
}

.markdown-alert>:last-child {
  margin-bottom: 0
}

.markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: bold;
  align-items: center;
  line-height: 1
}

.markdown-alert.markdown-alert-note {
  border-left-color: #539bf5
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
  color: #539bf5
}

.markdown-alert.markdown-alert-important {
  border-left-color: #986ee2;
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
  color: #986ee2;
}

.markdown-alert.markdown-alert-warning {
  border-left-color: #c69026;
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: #c69026;
}

.markdown-alert.markdown-alert-tip {
  border-left-color: #57ab5a;
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: #57ab5a;
}

.markdown-alert.markdown-alert-caution {
  border-left-color: #e5534b;
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: #e5534b;
}

// generated with https://codepen.io/sosuke/pen/Pjoqqp
// colors taken from https://github.com/orgs/community/discussions/16925

.octicon-info {
  filter: invert(55%) sepia(55%) saturate(2060%) hue-rotate(191deg) brightness(99%) contrast(93%);
}

.octicon-tip {
  filter: invert(58%) sepia(64%) saturate(351%) hue-rotate(73deg) brightness(89%) contrast(90%);
}

.octicon-important {
  filter: invert(67%) sepia(41%) saturate(6791%) hue-rotate(225deg) brightness(92%) contrast(92%);
}

.octicon-caution {
  filter: invert(45%) sepia(68%) saturate(2586%) hue-rotate(333deg) brightness(95%) contrast(88%);
}

.octicon-warning {
  filter: invert(78%) sepia(17%) saturate(5107%) hue-rotate(350deg) brightness(85%) contrast(78%);
}

// -------------------------------------- paginate definition
 paginate {
  margin: 0;
  padding: 1em;
  text-align: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    // display: inline-block; // an inline-block will allow you to use it with other contents
  }

  li {
    display: inline;
  }

  a {
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px;

    margin: 1px 2px;
    padding: 5px 10px;
    display: inline-block;
    border-top: 1px solid #fff;

    text-decoration: none;
    color: #717171;
    font-size: smaller;
    font-family: "Helvetica Neueu", Helvetica, Arial, sans-serif;

    text-shadow: rgba(255, 255, 255, 1) 0 1px 0;

    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
    background-image:    -moz-linear-gradient(top, #f9f9f9, #eaeaea);
    background-image:     -ms-linear-gradient(top, #f9f9f9, #eaeaea);
    background-image:      -o-linear-gradient(top, #f9f9f9, #eaeaea);
    background-image:         linear-gradient(top, #f9f9f9, #eaeaea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea');

    // reset the margins
    &:first-child, &.first  { margin-left: 0; }
    &:last-child, &.last    { margin-right: 0; }

    &:hover, &:focus {
      border-color: #fff;
      background-color: #fdfdfd;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#fafafa));
      background-image: -webkit-linear-gradient(top, #fefefe, #fafafa);
      background-image:    -moz-linear-gradient(top, #fefefe, #fafafa);
      background-image:     -ms-linear-gradient(top, #fefefe, #fafafa);
      background-image:      -o-linear-gradient(top, #fefefe, #fafafa);
      background-image:         linear-gradient(top, #fefefe, #fafafa);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#fafafa');
    }

    &.more {
      box-shadow: 0 0 0 0 transparent;
      border: 0 none;
      background: transparent;
      margin-left: 0;
      margin-right: 0;
    }

    &.active {
      box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;
      border-color: #505050;
      color: #f2f2f2;
      text-shadow: rgba(0, 0, 0, 1) 0 1px 0;

      background-color: #676767;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#5c5c5c));
      background-image: -webkit-linear-gradient(top, #5f5f5f, #5c5c5c);
      background-image:    -moz-linear-gradient(top, #5f5f5f, #5c5c5c);
      background-image:     -ms-linear-gradient(top, #5f5f5f, #5c5c5c);
      background-image:      -o-linear-gradient(top, #5f5f5f, #5c5c5c);
      background-image:         linear-gradient(top, #5f5f5f, #5c5c5c);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5f5f5f', EndColorStr='#5c5c5c');
    }
  }
}

.paginate-dark {
    a {
        box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px;
        border-top: 1px solid #62686d;
        text-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
        color: #fff;

        background-color: #4e5458;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#575e63), to(#3f4347));
        background-image: -webkit-linear-gradient(top, #575e63, #3f4347);
        background-image:    -moz-linear-gradient(top, #575e63, #3f4347);
        background-image:     -ms-linear-gradient(top, #575e63, #3f4347);
        background-image:      -o-linear-gradient(top, #575e63, #3f4347);
        background-image:         linear-gradient(top, #575e63, #3f4347);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#575e63', EndColorStr='#3f4347');

        &:hover, &:focus {
            border-color: #61788a;
            background-color: #4d6374;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#566f82), to(#3e505e));
            background-image: -webkit-linear-gradient(top, #566f82, #3e505e);
            background-image:    -moz-linear-gradient(top, #566f82, #3e505e);
            background-image:     -ms-linear-gradient(top, #566f82, #3e505e);
            background-image:      -o-linear-gradient(top, #566f82, #3e505e);
            background-image:         linear-gradient(top, #566f82, #3e505e);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#566f82', EndColorStr='#3e505e');
        }

        &.active {
            box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;
            border-color: #2d3035;

            background-color: #303338;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#303338), to(#2d3034));
            background-image: -webkit-linear-gradient(top, #303338, #2d3034);
            background-image:    -moz-linear-gradient(top, #303338, #2d3034);
            background-image:     -ms-linear-gradient(top, #303338, #2d3034);
            background-image:      -o-linear-gradient(top, #303338, #2d3034);
            background-image:         linear-gradient(top, #303338, #2d3034);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#303338', EndColorStr='#2d3034');
        }
    }
}
// -------------------------------------- paginate definition
